<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{managementlayout}">
<head>
    <title>Shop Admin Interface | TheShop</title>
</head>
<body layout:fragment="contentt" th:remove="tag">
<div class="container align-content-center">
    <h2>Add a new product type</h2>
    <br>
    <form method="post" th:action="@{/management/productType/add.post}">
        <div class="form-group row">
            <label for="name">Type / Name</label>
            <input type="text" name="type" minlength="2" id="name" class="form-control" required>
        </div>
        <div class="form-group row">
            <label>Is shipping required?</label>
            <select name="shippingRequired" class="form-control" required>
                <option value="TRUE">Yes</option>
                <option value="FALSE">No</option>
            </select>
        </div>
        <br>
        <input type="submit" class="btn btn-primary w-25 ms-auto me-auto" value="Submit">
    </form>
</div>
</body>
</html>