<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{managementlayout}">
<head>
    <title>Shop Admin Interface | TheShop</title>
</head>
<body layout:fragment="contentt" th:remove="tag">
<div class="container-fluid">
    <h1>All products</h1>
    <a th:href="@{/management/product/add}" class="btn btn-secondary"><span>&plus;</span></a><br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Tax</th>
            <th scope="col">Img</th>
            <th scope="col">Tags</th>
            <th scope="col">Product Type</th>
            <th scope="col">Categories</th>
        </tr>
        </thead>
        <tbody class="mn">
        <tr th:if="${productTagMap.empty}">
            <td colspan="7"> No product available</td>
        </tr>
        <tr th:each="productTag : ${productTagMap}">
            <td><span th:text="${productTag?.key?.id}"> ID </span></td>
            <td><span th:text="${productTag?.key?.name}"> Name </span></td>
            <td><span th:text="${productTag?.key?.price}"> Price </span></td>
            <td><span th:text="${productTag?.key?.tax}"> Tax </span></td>
            <td><span th:text="${productTag?.key?.img}"> Img </span></td>
            <td><span th:text="${productTag?.value.toLowerCase()}"> Tags </span></td>
            <td><span th:text="${productTag?.key?.productType?.type}"> Product Type </span></td>
            <td><span th:text="${productTag?.key?.categories?.size()}">Categories</span></td>
            <td><span><a th:href="'/management/product/detail?id=' + ${productTag?.key?.id}" class="btn btn-primary">Details</a></span></td>
            <td><span><a th:href="'/management/product/delete?id=' + ${productTag?.key?.id}" class="btn btn-primary">Delete</a></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>