<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{managementlayout}">
<head>
    <title>Shop Admin Interface | TheShop</title>
</head>
<body layout:fragment="contentt" th:remove="tag">
<div class="container-fluid">
    <h1>All stores</h1>
    <a th:href="@{/management/store/add}" class="btn btn-secondary"><span>&plus;</span></a><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Amount of categories</th>
            <th scope="col">Amount of carts</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${allStores.empty}">
            <td colspan="4"> No store currently available</td>
        </tr>
        <tr th:each="store : ${allStores}">
            <td><span th:text="${store?.id}"> ID </span></td>
            <td><span th:text="${store?.name}"> Name </span></td>
            <td><span th:text="${store?.categories?.size()}"> Amount of categories </span></td>
            <td><span th:text="${store?.carts?.size()}">Amount of carts</span></td>
            <td><span><a th:href="'/management/store/detail?id=' + ${store?.id}" class="btn btn-primary">Details</a></span></td>
            <td><span><a th:href="'/management/store/delete?id=' + ${store?.id}" class="btn btn-primary">Delete</a></span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>