<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{managementlayout}">
<head>
    <meta charset="UTF-8">
    <title>All Roles</title>
</head>
<body layout:fragment="contentt" th:remove="tag">
        <div class="container-fluid">
            <h1>All Roles</h1>
            <a th:href="@{/authorities/role/add}" class="btn btn-primary"><span>&plus;</span></a><br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${allroles.empty}">
                    <td colspan="2"> No roles available</td>
                </tr>
                <tr th:each="role : ${allroles}">
                    <td><span th:text="${role?.id}"> ID </span></td>
                    <td><span th:text="${role?.name}"> Name </span></td>
                    <td><a th:href="'/authorities/role?id=' + ${role.id}" class="btn btn-primary">Details</a></td>
                    <td><a th:href="'/authorities/role/delete?id=' + ${role.id}" class="btn btn-primary">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
</body>
</html>