<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{managementlayout}">
    <head>
        <title>Shop Admin Interface | TheShop</title>
        <script>
            window.onload = () => {
                const url = document.querySelector('#url');
                url.onpaste = e => e.preventDefault();
            }
            function replaceUrlInput() {
                const url = document.querySelector('#url');
                url.value = url.value
                    .replace(/[0-9.]/, '')
                    .replace(/[A-Z.]/, '')
                    .replace(' ', '')
                    .replace('#', '')
                    .replace('°', '')
                    .replace('^', '')
                    .replace('´', '')
                    .replace('`', '')
                    .replace('ß', '')
                    .replace('*', '')
                    .replace('\'', '')
                    .replace('/', '')
                    .replace(',', '')
                    .replace('.', '')
                    .replace('_', '')
                    .replace(':', '')
                    .replace('~', '')
                    .replace('|', '')
                    .replace('>', '')
                    .replace('<', '')
                    .replace('@', '')
                    .replace('€', '')
                    .replace('}', '')
                    .replace('{', '')
                    .replace('[', '')
                    .replace(']', '')
                    .replace('\\', '')
                    .replace('ü', '')
                    .replace('ä', '')
                    .replace('ö', '')
                    .replace('+', '')
                    .replace('!', '')
                    .replace('§', '')
                    .replace('$', '')
                    .replace('%', '')
                    .replace('&', '')
                    .replace('/', '')
                    .replace('(', '')
                    .replace(')', '')
                    .replace('=', '')
                    .replace('?', '');
            }
        </script>
    </head>
    <body layout:fragment="contentt" th:remove="tag">
        <div class="container">
            <h2 th:text="'Category: ' + ${category?.name}"></h2>
            <br>
            <form method="post" th:action="@{/management/category/edit.post}">
                <input type="hidden" th:value="${category?.id}" name="categoryId">
                <div class="form-group row">
                    <label for="name">Name</label>
                    <input type="text" name="name" minlength="2" id="name" class="form-control" th:value="${category?.name}" required>
                </div>
                <div class="form-group row">
                    <label for="url">URL</label>
                    <input type="text" name="url" th:value="${category?.url}" minlength="2" maxlength="16" id="url" oninput="replaceUrlInput()" onchange="replaceUrlInput()" onkeyup="replaceUrlInput()" onkeydown="replaceUrlInput()" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group row">
                    <label for="tax">Tax</label>
                    <input type="text" name="tax" th:value="${category?.tax}" id="tax" class="form-control" required>
                </div>
                <div class="form-group row">
                    <label for="store">Store (Select one)</label>
                    <select id="store" name="storeId" class="form-control" required>
                        <option th:each="store : ${allStores}" th:text="${store?.name}" th:selected="${store?.id} == ${category?.store?.id}" th:value="${store?.id}"></option>
                    </select>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </body>
</html>
