<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
    <head>
        <title>Home | TheShop</title>
    </head>
    <body layout:fragment="content" th:remove="tag">
    <h1>Welcome to TheShop</h1>
    <div class="row">
        <div class="col">
            <h3 class="bg-warning">Recommended:</h3>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4 border border-5 rounded bg-info" th:each="product : ${products}">
            <div class="row">
                <a class="fs-3" th:href="@{/product(id=${product.id})}" th:text="${product.name}"></a>
            </div>
            <div class="row">
                <img class="img-fluid" th:src="${MinioURL}+${product.img}+'.png'" alt="Product Image">
            </div>
            <div class="row">
                <p class="fs-2" th:text="${product.price} +' credits'"></p>
            </div>
        </div>
    </div>
    </body>
</html>